<!DOCTYPE html>
<html class="fill">
	<head>
		<title>Rotator</title>
		<link rel="stylesheet" type="text/css" 
      		  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
      	   	  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
			  crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" 
			  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css"
			  href="/css/game.css">
	</head>
	<body class="fill">
		<div class="container game-display fill">
			<div class="max-width top-bar">
				<div class="left-top-bar-half">
					<a href="/game">
						<i class="align-left green-hover fa fa-chevron-left mini top-icon-spaced"
						   aria-hidden="true"></i>
					</a>
					<i class="green-hover fa fa-refresh mini top-icon-spaced" aria-hidden="true"></i>
					<i class="green-hover fa fa-plus-circle mini top-icon-spaced" aria-hidden="true"></i>
					<i class="fa fa-star invisible mini" aria-hidden="true"></i>
				</div>
				<div class="right-top-bar-half">
					<i id="movesIcon" class="fa fa-repeat mini top-icon-spaced" aria-hidden="true"></i>
					<label for="movesIcon" id="moves" class="top-icon-spaced">8792</label>
					<i id="timeIcon" class="fa fa-clock-o mini top-icon-spaced" aria-hidden="true"></i>
					<label for="timeIcon" id="time">00:53:56</label>
				</div>
			</div>