<% include partials/menu-header %>

		<div class="container fill menu">
			<div class="max-width row top-bar">
				<div class="left-top-bar-half">
					<a href="/">
						<i class="align-left fa fa-chevron-left mini"
							aria-hidden="true"></i>
					</a>
				</div>
				<div class="right-top-bar-half">
					<a href="/user">
						<i class="fa fa-user-circle-o mini" aria-hidden="true"></i>
					</a>
				</div>
			</div>
			<div class="fill main row spaced">
				<div class="labeled-icon">
					<a href="/game/easy">
						<i id="easy" class="fa fa-square large slow-rotate" aria-hidden="true"></i>
					</a>
					<label for="easy" id="easyLabel">Easy</label>
				</div>
		
				<div class="labeled-icon">
					<a href="/game/medium">
						<i id="medium" class="fa fa-square large medium-rotate" aria-hidden="true"></i>
					</a>
					<label for="medium" id="mediumLabel">Medium</label>
				</div>
		
				<div class="labeled-icon">
					<a href="/game/hard">
						<i id="hard" class="fa fa-square large fast-rotate" aria-hidden="true"></i>
					</a>
					<label for="hard" id="hardLabel">Hard</label>
				</div>
			</div>
		</div>

<% include partials/menu-footer %>