<% include partials/header %>

<div class="container fill menu">
	<div class="max-width row top-bar">
		<div class="left-top-bar-half">
			<i class="align-left fa fa-chevron-left mini"
				aria-hidden="true"></i>
		</div>
		<div class="right-top-bar-half">
			<i class="fa fa-user-circle-o mini" aria-hidden="true"></i>
		</div>
	</div>
	<div class="main row">
		<div class="labeled-icon">
			<i id="easy" class="fa fa-square slow-rotate" aria-hidden="true"></i>
			<label for="easy" id="easyLabel">Easy</label>
		</div>

		<div class="labeled-icon">
			<i id="medium" class="fa fa-square medium-rotate" aria-hidden="true"></i>
			<label for="medium" id="mediumLabel">Medium</label>
		</div>

		<div class="labeled-icon">
			<i id="hard" class="fa fa-square fast-rotate" aria-hidden="true"></i>
			<label for="hard" id="hardLabel">Hard</label>
		</div>
	</div>
</div>

<% include partials/footer %>