<% include partials/menu-header %>

		<div class="container fill menu">
			<div class="max-width row top-bar">
				<div class="left-top-bar-half">
					<a href="/">
						<i class="align-left fa fa-chevron-left green-hover mini" aria-hidden="true"></i>
					</a>
				</div>
				<div class="right-top-bar-half">
					<% if ( currentUser ) { %>
						<div class="text-container">
							<label id="loggedInText">
								<%= currentUser.username %>
							</label>
						</div>
						<a href="/user/logout">
							<i id="loggedUserIcon" class="green fa fa-user-circle-o mini" aria-hidden="true"></i>
						</a>
					<% } else { %>
						<a href="/user">
							<i class="fa fa-user-circle-o green-hover mini" aria-hidden="true"></i>
						</a>
					<% } %>
				</div>
			</div>
			<div class="fill main row spaced">
				<div class="labeled-icon">
					<a href="/game/easy">
						<i id="easy" class="fa fa-square green-hover large slow-rotate" aria-hidden="true"></i>
					</a>
					<label for="easy" id="easyLabel" class="menu-label">Easy</label>
				</div>
		
				<div class="labeled-icon">
					<a href="/game/medium">
						<i id="medium" class="fa fa-square green-hover large medium-rotate" aria-hidden="true"></i>
					</a>
					<label for="medium" id="mediumLabel" class="menu-label">Medium</label>
				</div>
		
				<div class="labeled-icon">
					<a href="/game/hard">
						<i id="hard" class="fa fa-square green-hover large fast-rotate" aria-hidden="true"></i>
					</a>
					<label for="hard" id="hardLabel" class="menu-label">Hard</label>
				</div>
			</div>
		</div>

<% include partials/menu-footer %>