<% include partials/header %>

<div class="container fill menu">
	<div class="max-width row top-bar">
		<i class="fa fa-user-circle-o mini" aria-hidden="true"></i>
	</div>
	<div class="main row">
		<div class="labeled-icon">
			<i id="easy" class="fa fa-square" aria-hidden="true"></i>
			<label for="easy" id="easyLabel">Help</label>
		</div>

		<div class="labeled-icon">
			<i id="medium" class="fa fa-square" aria-hidden="true"></i>
			<label for="medium" id="mediumLabel">Play</label>
		</div>

		<div class="labeled-icon">
			<i id="hard" class="fa fa-square" aria-hidden="true"></i>
			<label for="hard" id="hardLabel">Levels</label>
		</div>
	</div>
</div>

<% include partials/footer %>