<!DOCTYPE html>
<html class="fill">
	<head>
		<title>Rotator</title>
		<link rel="stylesheet" type="text/css" 
      		  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
      	   	  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
			  crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" 
			  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/css/help.css">
	</head>
	<body class="fill">
		<div class="container fill">
			<div class="max-width row top-bar">
				<div class="left-top-bar-half">
					<a href="/">
						<i class="align-left fa fa-chevron-left mini"
						   aria-hidden="true"></i>
					</a>
				</div>
				<div class="right-top-bar-half">
					<% if ( currentUser ) { %>
						<div class="text-container">
							<label id="loggedInText">
								<%= currentUser.username %>
							</label>
						</div>
						<a href="/user/logout">
							<i id="loggedUserIcon" class="green fa fa-user-circle-o mini" aria-hidden="true"></i>
						</a>
					<% } else { %>
						<a href="/user">
							<i class="fa fa-user-circle-o mini" aria-hidden="true"></i>
						</a>
					<% } %>
				</div>
			</div>
			<div class="main row">
				<h2>How to Play</h2>
				<hr>
				<p>
					Rotator is a puzzle game involving a grid of squares. In order to win, you
					 must rotate all the squares to the same color. There are two colors, and
					 rotating a square changes it to the other color. You can rotate a square by
					 clicking on it, but its neighbors will also rotate. Whenever you click a
					 square, the squares immediately above, below, to the left of, and to the
					 right of the clicked square will rotate as well. Let's look at a board with
					 16 squares in it and label each of them with a number:
				</p>
				<div class="max-width square-container">
					<div class="square-row">
						<span class="fa-stack">
							<div class="fa-stack-2x help-square"></div>
							<div class="strong-container">
								<strong class="strong-label">1</strong>
							</div>
						</span>
						<span class="fa-stack">
							<div class="fa-stack-2x help-square"></div>
							<div class="fa-stack-1x strong-container">
								<strong class="strong-label">2</strong>
							</div>
						</span>
						<span class="fa-stack">
							<div class="fa-stack-2x help-square"></div>
							<div class="fa-stack-1x strong-container">
								<strong class="strong-label">3</strong>
							</div>
						</span>
						<span class="fa-stack">
							<div class="fa-stack-2x help-square"></div>
							<div class="fa-stack-1x strong-container">
								<strong class="strong-label">4</strong>
							</div>
						</span>
					</div>
					<div class="square-row">
						<span class="fa-stack">
							<div class="fa-stack-2x help-square"></div>
							<div class="fa-stack-1x strong-container">
								<strong class="strong-label">5</strong>
							</div>
						</span>
						<span class="fa-stack">
							<div class="fa-stack-2x help-square"></div>
							<div class="fa-stack-1x strong-container">
								<strong class="strong-label">6</strong>
							</div>
						</span>
						<span class="fa-stack">
							<div class="fa-stack-2x help-square"></div>
							<div class="fa-stack-1x strong-container">
								<strong class="strong-label">7</strong>
							</div>
						</span>
						<span class="fa-stack">
							<div class="fa-stack-2x help-square"></div>
							<div class="fa-stack-1x strong-container">
								<strong class="strong-label">8</strong>
							</div>
						</span>
					</div>
					<div class="square-row">
						<span class="fa-stack">
							<div class="fa-stack-2x help-square"></div>
							<div class="fa-stack-1x strong-container">
								<strong class="strong-label">9</strong>
							</div>
						</span>
						<span class="fa-stack">
							<div class="fa-stack-2x help-square"></div>
							<div class="fa-stack-1x strong-container">
								<strong class="strong-label">10</strong>
							</div>
						</span>
						<span class="fa-stack">
							<div class="fa-stack-2x help-square"></div>
							<div class="fa-stack-1x strong-container">
								<strong class="strong-label">11</strong>
							</div>
						</span>
						<span class="fa-stack">
							<div class="fa-stack-2x help-square"></div>
							<div class="fa-stack-1x strong-container">
								<strong class="strong-label">12</strong>
							</div>
						</span>
					</div>
					<div class="square-row">
						<span class="fa-stack">
							<div class="fa-stack-2x help-square"></div>
							<div class="fa-stack-1x strong-container">
								<strong class="strong-label">13</strong>
							</div>
						</span>
						<span class="fa-stack">
							<div class="fa-stack-2x help-square"></div>
							<div class="fa-stack-1x strong-container">
								<strong class="strong-label">14</strong>
							</div>
						</span>
						<span class="fa-stack">
							<div class="fa-stack-2x help-square"></div>
							<div class="fa-stack-1x strong-container">
								<strong class="strong-label">15</strong>
							</div>
						</span>
						<span class="fa-stack">
							<div class="fa-stack-2x help-square"></div>
							<div class="fa-stack-1x strong-container">
								<strong class="strong-label">16</strong>
							</div>
						</span>
					</div>
				</div>
				<p>
					If you clicked on Square #6, then Square #2, Square #5, Square #6, Square #7,
					 and Square #10 would all rotate and switch color. Furthermore, if you clicked
					 on Square #13, only Square #9, Square #13, and Square #14 will rotate and
					 switch color. In other words, the square you click on will always be rotated
					 and any square directly above, below, left, or right will also be rotated.
				</p>
			</div>
		</div>
	</body>
</html>