<!DOCTYPE html>
<html class="fill">
	<head>
		<title>Rotator | Help</title>
		<link rel="stylesheet" type="text/css" 
      		  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
      	   	  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
			  crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" 
			  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="icon" type="image/vnd.microsoft.icon" href="/img/favicon.ico">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body class="fill help">
		<div class="container fill">
			<div class="max-width row top-bar">
				<div class="left-top-bar-half">
					<a href="/">
						<i class="align-left fa fa-chevron-left green-hover mini" aria-hidden="true"></i>
					</a>
				</div>
				<div class="right-top-bar-half">
					<% if ( currentUser ) { %>
						<div class="text-container">
							<label id="loggedInText">
								<%= currentUser.username %>
							</label>
						</div>
						<a href="/user/logout">
							<i id="loggedUserIcon" class="green fa fa-user-circle-o mini" aria-hidden="true"></i>
						</a>
					<% } else { %>
						<a href="/user">
							<i class="fa fa-user-circle-o green-hover mini" aria-hidden="true"></i>
						</a>
					<% } %>
				</div>
			</div>
			<div class="main row">
				<h2 class="first">How to Play</h2>
				<hr class="first">
				<p class="explanation">
					Rotator is a puzzle game involving a grid of squares. In order to win, you
					 must rotate all the squares to the same color. There are two colors, and
					 rotating a square changes it to the other color. You can rotate a square by
					 clicking on it, but its neighbors will also rotate. Whenever you click a
					 square, the squares immediately above, below, to the left of, and to the
					 right of the clicked square will rotate as well. Let's look at a board with
					 16 squares in it and label each of them with a number:
				</p>
				<div class="max-width square-container">
					<div class="square-row">
						<span class="fa-stack">
							<div class="fa-stack-2x help-square"></div>
							<div class="strong-container">
								<strong class="strong-label">1</strong>
							</div>
						</span>
						<span class="fa-stack">
							<div class="fa-stack-2x help-square"></div>
							<div class="fa-stack-1x strong-container">
								<strong class="strong-label">2</strong>
							</div>
						</span>
						<span class="fa-stack">
							<div class="fa-stack-2x help-square"></div>
							<div class="fa-stack-1x strong-container">
								<strong class="strong-label">3</strong>
							</div>
						</span>
						<span class="fa-stack">
							<div class="fa-stack-2x help-square"></div>
							<div class="fa-stack-1x strong-container">
								<strong class="strong-label">4</strong>
							</div>
						</span>
					</div>
					<div class="square-row">
						<span class="fa-stack">
							<div class="fa-stack-2x help-square"></div>
							<div class="fa-stack-1x strong-container">
								<strong class="strong-label">5</strong>
							</div>
						</span>
						<span class="fa-stack">
							<div class="fa-stack-2x help-square"></div>
							<div class="fa-stack-1x strong-container">
								<strong class="strong-label">6</strong>
							</div>
						</span>
						<span class="fa-stack">
							<div class="fa-stack-2x help-square"></div>
							<div class="fa-stack-1x strong-container">
								<strong class="strong-label">7</strong>
							</div>
						</span>
						<span class="fa-stack">
							<div class="fa-stack-2x help-square"></div>
							<div class="fa-stack-1x strong-container">
								<strong class="strong-label">8</strong>
							</div>
						</span>
					</div>
					<div class="square-row">
						<span class="fa-stack">
							<div class="fa-stack-2x help-square"></div>
							<div class="fa-stack-1x strong-container">
								<strong class="strong-label">9</strong>
							</div>
						</span>
						<span class="fa-stack">
							<div class="fa-stack-2x help-square"></div>
							<div class="fa-stack-1x strong-container">
								<strong class="strong-label">10</strong>
							</div>
						</span>
						<span class="fa-stack">
							<div class="fa-stack-2x help-square"></div>
							<div class="fa-stack-1x strong-container">
								<strong class="strong-label">11</strong>
							</div>
						</span>
						<span class="fa-stack">
							<div class="fa-stack-2x help-square"></div>
							<div class="fa-stack-1x strong-container">
								<strong class="strong-label">12</strong>
							</div>
						</span>
					</div>
					<div class="square-row">
						<span class="fa-stack">
							<div class="fa-stack-2x help-square"></div>
							<div class="fa-stack-1x strong-container">
								<strong class="strong-label">13</strong>
							</div>
						</span>
						<span class="fa-stack">
							<div class="fa-stack-2x help-square"></div>
							<div class="fa-stack-1x strong-container">
								<strong class="strong-label">14</strong>
							</div>
						</span>
						<span class="fa-stack">
							<div class="fa-stack-2x help-square"></div>
							<div class="fa-stack-1x strong-container">
								<strong class="strong-label">15</strong>
							</div>
						</span>
						<span class="fa-stack">
							<div class="fa-stack-2x help-square"></div>
							<div class="fa-stack-1x strong-container">
								<strong class="strong-label">16</strong>
							</div>
						</span>
					</div>
				</div>
				<p class="explanation">
					If you clicked on Square #6, then Square #2, Square #5, Square #6, Square #7,
					 and Square #10 would all rotate and switch color. Furthermore, if you clicked
					 on Square #13, only Square #9, Square #13, and Square #14 will rotate and
					 switch color. In other words, the square you click on will always be rotated
					 and any square directly above, below, to the left, or to the right will also
					 be rotated if it exists.
				</p>

				<h2 class="second">Game Modes</h2>
				<hr class="second">
				<p class="explanation game-mode">
					You can either play quick games or levels. Quick games can be accessed from the
					 play button on the home menu, and you can navigate to the level selection menu
					 from the levels button on the home menu.
				</p>
				<p class="explanation game-mode">
					All quick games start with a randomized board, meaning that a random amount
					 of randomly selected squares will be rotated. Every quick game can be solved,
					 although some are more difficult than others due to the randomization. There
					 are three difficulties: easy, medium, and hard. Easy is a 4 x 4 grid of 16
					 squares. Medium is a 5 x 5 grid of 25 squares. Hard is a 6 x 6 grid of 36
					 squares. The quick game mode features a new game icon that allows you to
					 continue playing on the same difficulty with a brand new randomized board.
				</p>
				<p class="explanation game-mode">
					There are 25 levels to play on, which get increasingly difficult. These are
					 provided to help you develop a strategy for solving boards. If you find the
					 quick games to be too difficult, start with the levels first to ease into it.
					 For an added challenge, you can try to solve these levels in as few moves as
					 possible to further develop your skills. If you are logged in, the level icon
					 in the level selection menu will turn green after you beat that level for the
					 first time. Remember that you must be logged in to keep track of which levels
					 you have completed.
				</p>

				<h2 class="third">Icons</h2>
				<hr class="third">
				<div class="icon-description-container max-width">
					<div class="icon-description">
						<strong>Home</strong>
						<i class="fa fa-home"></i>
						<p class="description">
							When clicked, it takes you to the home page.
						</p>
					</div>
					<div class="icon-description">
						<strong>Back</strong>
						<i class="fa fa-chevron-left"></i>
						<p class="description">
							When clicked, it takes you to the previous page.
						</p>
					</div>
				</div>
				<div class="icon-description-container max-width">
					<div class="icon-description">
						<strong>User</strong>
						<i class="fa fa-user-circle-o"></i>
						<p class="description">
							When clicked, it takes you to the log in/sign up page.
						</p>
					</div>
					<div class="icon-description">
						<strong>Logout</strong>
						<i class="fa fa-user-circle-o green"></i>
						<p class="description">
							When clicked, it logs you out of your current account. This icon only
							 appears when you are logged in.
						</p>
					</div>
				</div>
				<div class="icon-description-container max-width">
					<div class="icon-description">
						<strong>Log In</strong>
						<i class="fa fa-sign-in"></i>
						<p class="description">
							When clicked, it logs you in with the username and password you
							 entered.
						</p>
					</div>
					<div class="icon-description">
						<strong>Sign Up</strong>
						<i class="fa fa-user-plus"></i>
						<p class="description">
							When clicked, it signs you up for an account with the username and
							 password you entered.
						</p>
					</div>
				</div>
				<div class="icon-description-container max-width">
					<div class="icon-description">
						<strong>New Game</strong>
						<i class="fa fa-plus-circle"></i>
						<p class="description">
							When clicked, it creates a new randomly generated board of squares to
							 play on. Additionally, it will set the moves and time counters to
							 zero.
						</p>
					</div>
					<div class="icon-description">
						<strong>Reset</strong>
						<i class="fa fa-refresh"></i>
						<p class="description">
							When clicked, it returns the board to the beginning before you rotated
							 any squares. If you clicked the new game icon, it will reset to the
							 newly created board. This will set the moves and time counters to
							 zero.
						</p>
					</div>
				</div>
				<div class="icon-description-container max-width">
					<div class="icon-description">
						<strong>Moves</strong>
						<i class="fa fa-repeat"></i>
						<p class="description">
							The number to the right of this icon represents the amount of moves
							 you have made in the current game.
						</p>
					</div>
					<div class="icon-description">
						<strong>Time</strong>
						<i class="fa fa-clock-o"></i>
						<p class="description">
							The numbers to the right of this icon represent the amount of time you
							 have spent on the current game in the format of hours, minutes, and
							 seconds.
						</p>
					</div>
				</div>
				<div class="icon-description-container last max-width">
					<div class="icon-description">
						<strong>Victory Star</strong>
						<i class="fa fa-star green"></i>
						<p class="description">
							This icon appears when you win the game. If you click the reset or the
							 new game icon, this icon will disappear as the new game starts.
						</p>
					</div>
				</div>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"
			integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			crossorigin="anonymous"></script>
		<script type="text/javascript" src="/js/help.js"></script>
	</body>
</html>