<% include partials/menu-header %>

		<div class="container fill level-select menu">
			<div class="max-width row top-bar">
				<div class="left-top-bar-half">
					<a href="/">
						<i class="align-left fa fa-chevron-left mini"
						   aria-hidden="true"></i>
					</a>
				</div>
				<div class="right-top-bar-half">
					<% if ( currentUser ) { %>
						<div class="text-container">
							<label id="loggedInText">
								<%= currentUser.username %>
							</label>
						</div>
						<a href="/user/logout">
							<i id="loggedUserIcon" class="green fa fa-user-circle-o mini" aria-hidden="true"></i>
						</a>
					<% } else { %>
						<a href="/user">
							<i class="fa fa-user-circle-o mini" aria-hidden="true"></i>
						</a>
					<% } %>
				</div>
			</div>
			<div class="fill main row spaced">
				<div class="center-half">
					<div class="level-row">
						<a href="/levels/1">
							<span class="fa-stack">
								<i class="fa fa-square fa-stack-2x" aria-hidden="true"></i>
								<strong class="fa-stack-1x">1</strong>
							</span>
						</a>
						<a href="/levels/2">
							<span class="fa-stack">
								<i class="fa fa-square fa-stack-2x" aria-hidden="true"></i>
								<strong class="fa-stack-1x">2</strong>
							</span>
						</a>
						<a href="/levels/3">
							<span class="fa-stack">
								<i class="fa fa-square fa-stack-2x" aria-hidden="true"></i>
								<strong class="fa-stack-1x">3</strong>
							</span>
						</a>
						<a href="/levels/4">
							<span class="fa-stack">
								<i class="fa fa-square fa-stack-2x" aria-hidden="true"></i>
								<strong class="fa-stack-1x">4</strong>
							</span>
						</a>
						<a href="/levels/5">
							<span class="fa-stack">
								<i class="fa fa-square fa-stack-2x" aria-hidden="true"></i>
								<strong class="fa-stack-1x">5</strong>
							</span>
						</a>
					</div>
					<div class="level-row">
						<a href="/levels/6">
							<span class="fa-stack">
								<i class="fa fa-square fa-stack-2x" aria-hidden="true"></i>
								<strong class="fa-stack-1x">6</strong>
							</span>
						</a>
						<a href="/levels/7">
							<span class="fa-stack">
								<i class="fa fa-square fa-stack-2x" aria-hidden="true"></i>
								<strong class="fa-stack-1x">7</strong>
							</span>
						</a>
						<a href="/levels/8">
							<span class="fa-stack">
								<i class="fa fa-square fa-stack-2x" aria-hidden="true"></i>
								<strong class="fa-stack-1x">8</strong>
							</span>
						</a>
						<a href="/levels/9">
							<span class="fa-stack">
								<i class="fa fa-square fa-stack-2x" aria-hidden="true"></i>
								<strong class="fa-stack-1x">9</strong>
							</span>
						</a>
						<a href="/levels/10">
							<span class="fa-stack">
								<i class="fa fa-square fa-stack-2x" aria-hidden="true"></i>
								<strong class="fa-stack-1x">10</strong>
							</span>
						</a>
					</div>
					<div class="level-row">
						<a href="/levels/11">
							<span class="fa-stack">
								<i class="fa fa-square fa-stack-2x" aria-hidden="true"></i>
								<strong class="fa-stack-1x">11</strong>
							</span>
						</a>
						<a href="/levels/12">
							<span class="fa-stack">
								<i class="fa fa-square fa-stack-2x" aria-hidden="true"></i>
								<strong class="fa-stack-1x">12</strong>
							</span>
						</a>
						<a href="/levels/13">
							<span class="fa-stack">
								<i class="fa fa-square fa-stack-2x" aria-hidden="true"></i>
								<strong class="fa-stack-1x">13</strong>
							</span>
						</a>
						<a href="/levels/14">
							<span class="fa-stack">
								<i class="fa fa-square fa-stack-2x" aria-hidden="true"></i>
								<strong class="fa-stack-1x">14</strong>
							</span>
						</a>
						<a href="/levels/15">
							<span class="fa-stack">
								<i class="fa fa-square fa-stack-2x" aria-hidden="true"></i>
								<strong class="fa-stack-1x">15</strong>
							</span>
						</a>
					</div>
					<div class="level-row">
						<a href="/levels/16">
							<span class="fa-stack">
								<i class="fa fa-square fa-stack-2x" aria-hidden="true"></i>
								<strong class="fa-stack-1x">16</strong>
							</span>
						</a>
						<a href="/levels/17">
							<span class="fa-stack">
								<i class="fa fa-square fa-stack-2x" aria-hidden="true"></i>
								<strong class="fa-stack-1x">17</strong>
							</span>
						</a>
						<a href="/levels/18">
							<span class="fa-stack">
								<i class="fa fa-square fa-stack-2x" aria-hidden="true"></i>
								<strong class="fa-stack-1x">18</strong>
							</span>
						</a>
						<a href="/levels/19">
							<span class="fa-stack">
								<i class="fa fa-square fa-stack-2x" aria-hidden="true"></i>
								<strong class="fa-stack-1x">19</strong>
							</span>
						</a>
						<a href="/levels/20">
							<span class="fa-stack">
								<i class="fa fa-square fa-stack-2x" aria-hidden="true"></i>
								<strong class="fa-stack-1x">20</strong>
							</span>
						</a>
					</div>
					<div class="level-row">
						<a href="/levels/21">
							<span class="fa-stack">
								<i class="fa fa-square fa-stack-2x" aria-hidden="true"></i>
								<strong class="fa-stack-1x">21</strong>
							</span>
						</a>
						<a href="/levels/22">
							<span class="fa-stack">
								<i class="fa fa-square fa-stack-2x" aria-hidden="true"></i>
								<strong class="fa-stack-1x">22</strong>
							</span>
						</a>
						<a href="/levels/23">
							<span class="fa-stack">
								<i class="fa fa-square fa-stack-2x" aria-hidden="true"></i>
								<strong class="fa-stack-1x">23</strong>
							</span>
						</a>
						<a href="/levels/24">
							<span class="fa-stack">
								<i class="fa fa-square fa-stack-2x" aria-hidden="true"></i>
								<strong class="fa-stack-1x">24</strong>
							</span>
						</a>
						<a href="/levels/25">
							<span class="fa-stack">
								<i class="fa fa-square fa-stack-2x" aria-hidden="true"></i>
								<strong class="fa-stack-1x">25</strong>
							</span>
						</a>
					</div>
				</div>
			</div>
		</div>

<% include partials/menu-footer %>