<% include partials/menu-header %>

		<div class="container fill menu">
			<div class="max-width row top-bar">
				<div class="left-top-bar-half">
					<a href="/">
						<i class="align-left fa fa-chevron-left mini"
						   aria-hidden="true"></i>
					</a>
				</div>
				<div class="right-top-bar-half">
					<% if ( currentUser ) { %>
						<div class="text-container">
							<label id="loggedInText">
								<%= currentUser.username %>
							</label>
						</div>
						<a href="/user/logout">
							<i id="loggedUserIcon" class="green fa fa-user-circle-o mini" aria-hidden="true"></i>
						</a>
					<% } else { %>
						<a href="/user">
							<i class="fa fa-user-circle-o mini" aria-hidden="true"></i>
						</a>
					<% } %>
				</div>
			</div>
			<div class="fill main row spaced">
				<div class="center-half">
					<div class="level-row">
						<span class="fa-stack">
							<i class="fa fa-square fa-stack-2x" aria-hidden="true"></i>
							<strong class="fa-stack-1x">1</strong>
						</span>
						<span class="fa-stack">
							<i class="fa fa-square fa-stack-2x" aria-hidden="true"></i>
							<strong class="fa-stack-1x">2</strong>
						</span>
						<span class="fa-stack">
							<i class="fa fa-square fa-stack-2x" aria-hidden="true"></i>
							<strong class="fa-stack-1x">3</strong>
						</span>
						<span class="fa-stack">
							<i class="fa fa-square fa-stack-2x" aria-hidden="true"></i>
							<strong class="fa-stack-1x">4</strong>
						</span>
						<span class="fa-stack">
							<i class="fa fa-square fa-stack-2x" aria-hidden="true"></i>
							<strong class="fa-stack-1x">5</strong>
						</span>
					</div>
					<div class="level-row">
						<span class="fa-stack">
							<i class="fa fa-square fa-stack-2x" aria-hidden="true"></i>
							<strong class="fa-stack-1x">6</strong>
						</span>
						<span class="fa-stack">
							<i class="fa fa-square fa-stack-2x" aria-hidden="true"></i>
							<strong class="fa-stack-1x">7</strong>
						</span>
						<span class="fa-stack">
							<i class="fa fa-square fa-stack-2x" aria-hidden="true"></i>
							<strong class="fa-stack-1x">8</strong>
						</span>
						<span class="fa-stack">
							<i class="fa fa-square fa-stack-2x" aria-hidden="true"></i>
							<strong class="fa-stack-1x">9</strong>
						</span>
						<span class="fa-stack">
							<i class="fa fa-square fa-stack-2x" aria-hidden="true"></i>
							<strong class="fa-stack-1x">10</strong>
						</span>
					</div>
					<div class="level-row">
						<span class="fa-stack">
							<i class="fa fa-square fa-stack-2x" aria-hidden="true"></i>
							<strong class="fa-stack-1x">11</strong>
						</span>
						<span class="fa-stack">
							<i class="fa fa-square fa-stack-2x" aria-hidden="true"></i>
							<strong class="fa-stack-1x">12</strong>
						</span>
						<span class="fa-stack">
							<i class="fa fa-square fa-stack-2x" aria-hidden="true"></i>
							<strong class="fa-stack-1x">13</strong>
						</span>
						<span class="fa-stack">
							<i class="fa fa-square fa-stack-2x" aria-hidden="true"></i>
							<strong class="fa-stack-1x">14</strong>
						</span>
						<span class="fa-stack">
							<i class="fa fa-square fa-stack-2x" aria-hidden="true"></i>
							<strong class="fa-stack-1x">15</strong>
						</span>
					</div>
					<div class="level-row">
						<span class="fa-stack">
							<i class="fa fa-square fa-stack-2x" aria-hidden="true"></i>
							<strong class="fa-stack-1x">16</strong>
						</span>
						<span class="fa-stack">
							<i class="fa fa-square fa-stack-2x" aria-hidden="true"></i>
							<strong class="fa-stack-1x">17</strong>
						</span>
						<span class="fa-stack">
							<i class="fa fa-square fa-stack-2x" aria-hidden="true"></i>
							<strong class="fa-stack-1x">18</strong>
						</span>
						<span class="fa-stack">
							<i class="fa fa-square fa-stack-2x" aria-hidden="true"></i>
							<strong class="fa-stack-1x">19</strong>
						</span>
						<span class="fa-stack">
							<i class="fa fa-square fa-stack-2x" aria-hidden="true"></i>
							<strong class="fa-stack-1x">20</strong>
						</span>
					</div>
					<div class="level-row">
						<span class="fa-stack">
							<i class="fa fa-square fa-stack-2x" aria-hidden="true"></i>
							<strong class="fa-stack-1x">21</strong>
						</span>
						<span class="fa-stack">
							<i class="fa fa-square fa-stack-2x" aria-hidden="true"></i>
							<strong class="fa-stack-1x">22</strong>
						</span>
						<span class="fa-stack">
							<i class="fa fa-square fa-stack-2x" aria-hidden="true"></i>
							<strong class="fa-stack-1x">23</strong>
						</span>
						<span class="fa-stack">
							<i class="fa fa-square fa-stack-2x" aria-hidden="true"></i>
							<strong class="fa-stack-1x">24</strong>
						</span>
						<span class="fa-stack">
							<i class="fa fa-square fa-stack-2x" aria-hidden="true"></i>
							<strong class="fa-stack-1x">25</strong>
						</span>
					</div>
				</div>
			</div>
		</div>

<% include partials/menu-footer %>