<% include partials/header %>

<div class="container fill menu">
	<div class="max-width row top-bar">
		<div class="left-top-bar-half">
			<a href="/game">
				<i class="align-left fa fa-chevron-left mini-icon"
					aria-hidden="true"></i>
			</a>
		</div>
		<div class="right-top-bar-half">
			<i class="fa fa-user-circle-o mini-icon" aria-hidden="true"></i>
		</div>
	</div>
</div>

<% include partials/footer %>