<% include partials/header %>

<div class="container game-display fill">
	<div class="max-width row top-bar">
		<div class="left-top-bar-half">
			<a href="/game">
				<i class="align-left fa fa-chevron-left mini"
					aria-hidden="true"></i>
			</a>
		</div>
		<div class="right-top-bar-half">
			<i class="fa fa-user-circle-o mini" aria-hidden="true"></i>
		</div>
	</div>
	<div class="game main medium row">
		<div id="r0c0" class="first square top"></div>
		<div id="r0c1" class="square top"></div>
		<div id="r0c2" class="square top"></div>
		<div id="r0c3" class="square top"></div>
		<div id="r0c4" class="last square top"></div>

		<div id="r1c0" class="first square"></div>
		<div id="r1c1" class="square"></div>
		<div id="r1c2" class="square"></div>
		<div id="r1c3" class="square"></div>
		<div id="r1c4" class="last square"></div>

		<div id="r2c0" class="first square"></div>
		<div id="r2c1" class="square"></div>
		<div id="r2c2" class="square"></div>
		<div id="r2c3" class="square"></div>
		<div id="r2c4" class="last square"></div>

		<div id="r3c0" class="first square"></div>
		<div id="r3c1" class="square"></div>
		<div id="r3c2" class="square"></div>
		<div id="r3c3" class="square"></div>
		<div id="r3c4" class="last square"></div>
		
		<div id="r4c0" class="first square"></div>
		<div id="r4c1" class="square"></div>
		<div id="r4c2" class="square"></div>
		<div id="r4c3" class="square"></div>
		<div id="r4c4" class="last square"></div>
	</div>
</div>

<% include partials/footer %>