<% include partials/menu-header %>
		<div class="container fill menu">
			<div class="max-width row top-bar">
				<% if ( currentUser ) { %>
					<% if ( userMessage && userMessage.length > 0 ) { %>
						<div class="text-container">
							<label id="loggedInText">
								<%= userMessage %>
							</label>
						</div>
					<% } else { %>
						<div class="text-container">
							<label id="loggedInText">
								<%= currentUser.username %>
							</label>
						</div>
					<% } %>
					<a href="/user/logout">
						<i id="loggedUserIcon" class="green fa fa-user-circle-o mini" aria-hidden="true"></i>
					</a>
				<% } else { %>
					<% if ( userMessage && userMessage.length > 0 ) { %>
						<div class="text-container">
							<label id="userMessageText">
								<%= userMessage %>
							</label>
						</div>
					<% } %>
					<a href="/user">
						<i class="fa fa-user-circle-o green-hover mini" aria-hidden="true"></i>
					</a>
				<% } %>
			</div>
			<div class="fill main row spaced">
				<div class="labeled-icon">
					<a href="/help">
						<i id="help" class="fa fa-question-circle green-hover large" aria-hidden="true"></i>
					</a>
					<label for="help" id="helpLabel" class="menu-label">Help</label>
				</div>

				<div class="labeled-icon">
					<a href="/game">
						<i id="play" class="fa fa-play-circle-o green-hover large" aria-hidden="true"></i>
					</a>
					<label for="play" id="playLabel" class="menu-label">Play</label>
				</div>

				<div class="labeled-icon">
					<a href="/levels">
						<i id="levels" class="fa fa-th-large green-hover large" aria-hidden="true"></i>
					</a>
					<label for="levels" id="levelsLabel" class="menu-label">Levels</label>
				</div>
			</div>
		</div>
<% include partials/menu-footer %>