<% include partials/user-header %>

		<div class="container fill">
			<div class="max-width row top-bar">
				<a href="/">
					<i id="home" class="click-icon fa fa-home" aria-hidden="true"></i>
				</a>
			</div>
			<div class="fill main">
			<div class="option-container">
				<label for="log-in-radio">Log in</label>
				<input id="log-in-radio" type="radio" name="option" value="log-in">
				<i class="fa fa-square" aria-hidden="true"></i>
				<form class="log-in removed">
					<input class="type" type="text" placeholder="Username">
					<input class="type" type="password" placeholder="Password">
					<button>
						<i class="click-icon fa fa-sign-in" aria-hidden="true"></i>
					</button>
				</form>
				<span class="description log-in">
					Log in to an existing account to keep track of your completed
					levels and progress.
				</span>
				<span class="error-message log-in">
					<% if ( logInError && logInError.length > 0 ) { %>
						<%= logInError %>
					<% } %>
				</span>
			</div>
			<div class="option-container">
				<label for="sign-up-radio">Sign up</label>
				<input id="sign-up-radio" type="radio" name="option" value="sign-up">
				<i class="fa fa-square" aria-hidden="true"></i>
				<form class="removed sign-up" action="/user/signup" method="POST">
					<input class="type" name="username" type="text" placeholder="Username">
					<input class="type" name="password" type="password" placeholder="Password">
					<button>
						<i class="click-icon fa fa-user-plus" aria-hidden="true"></i></i>
					</button>
				</form>
				<span class="description sign-up">
					Sign up to create a new account with a username and password.
				</span>
				<span class="error-message sign-up">
					<% if ( signInError && signInError.length > 0 ) { %>
						<%= signInError %>
					<% } %>
				</span>
			</div>
			</div>
		</div>

<% include partials/user-footer %>