body {
	background-color: #272727;
	margin: 0;
}

label {
	color: #e6e6e6;
	font-size: 2.5vmax;
	margin: 3vh 0 0 0;
}

	label.top-icon-spaced {
		margin-right: 1.2vw;
	}

.easy .first {
	margin: 1% 1% 1% 36%;
}

.easy .last {
	margin: 1% 36% 1% 1%;
}

.fa {
	-moz-transition: color 0.15s;
	-o-transition: color 0.15s;
	-webkit-transition: color 0.15s;
	color: #4382ef;
	transition: color 0.15s;
}

	.mini {
		font-size: 3.5vmax;
		margin: 3vh 0 0 0;
	}

	.fa.top-icon-spaced {
		margin-right: 1.2vw;
	}

.fa-star {
	-moz-transition: opacity 1.0s;
	-o-transition: opacity 1.0s;
	-webkit-transition: opacity 1.0s;
	transition: opacity 1.0s;
}

.fill {
	height: 100%;
	width: 100%;
}

.game.main {
	margin: auto 0;
}

.game-display {
	display: flex;
	flex-direction: column;
}

.green {
	color: forestgreen;
}

.green-hover:hover {
	color: forestgreen;
}

.hard .first {
	margin: 1% 1% 1% 28.5%;
}

.hard .last {
	margin: 1% 28.5% 1% 1%;
}

.left-top-bar-half {
	float: left;
	justify-content: flex-start;
}

.left-top-bar-half, .right-top-bar-half {
	display: flex;
	height: 0;
	width: 50%;
}

.max-width {
	width: 100%;
}

	.max-width.top-bar {
		display: flex;
		justify-content: flex-end;
	}

.medium .first {
	margin: 1% 1% 1% 32.25%;
}

.medium .last {
	margin: 1% 32.25% 1% 1%;
}

.right-top-bar-half {
	float: right;
	justify-content: flex-end;
}

.square {
	background-color: #4382ef;
	border-radius: 15%;
	float: left;
	margin: 1%;
	padding-bottom: 5.5%;
	width: 5.5%;
}

	.animated {
		-moz-transition: -moz-transform 0.15s, background-color 0.15s;
		-o-transition: -o-transform 0.15s, background-color 0.15s;
		-webkit-backface-visibility: hidden;
		-webkit-transition: -webkit-transform 0.15s, background-color 0.15s;
		transition: transform 0.15s, background-color 0.15s;
	}

	.rotated {
		-moz-transform: rotate( 90deg );
		-ms-transform: rotate( 90deg );
		-o-transform: rotate( 90deg );
		-webkit-transform: rotate( 90deg );
		background-color: forestgreen;
		transform: rotate( 90deg );
	}

.top-bar {
	height: 0;
	margin: 0;
}

.zero-opacity {
	opacity: 0;
}