body {
	background-color: #272727;
	color: #4382ef;
	margin: 0;
}

h2 {
	color: forestgreen;
	font-size: 3.0vmax;
	margin: 7.5vmax 0 0 0;
	text-align: center;
}

hr {
	border-color: forestgreen;
	margin: 1vmax auto 2vmax auto;
	width: 20vmax;
}

p {
	font-size: 1.2vmax;
	text-indent: 3.5vmax;
}

strong {
	color: #272727;
	z-index: 1;
}

.fa {
	-moz-transition: color 0.15s;
	-o-transition: color 0.15s;
	-webkit-transition: color 0.15s;
	color: #4382ef;
	transition: color 0.15s;
}

	.fa.large {
		font-size: 15vw;
	}

	.fa.green, .fa.mini:hover {
		color: forestgreen;
	}

	.fa.mini {
		font-size: 3.5vmax;
		margin: 3vh 0 0 0;
	}

.fa-stack {
	font-size: 3.5vw;
}

	.fa-stack strong {
		font-size: 3.5vw;
	}

	.fa-stack .fa-square {
		font-size: 7.0vw;
	}

	.fa-stack .fa-square.diamond {
		transform: rotate( 45deg );
	}

.fill {
	height: 100%;
	width: 100%;
}

.help-square {
	background-color: #4382ef;
	border-radius: 15%;
	width: 6vw;
	padding-bottom: 6vw;
}

.left-top-bar-half {
	float: left;
	justify-content: flex-start;
}

.left-top-bar-half, .right-top-bar-half {
	display: flex;
	height: 0;
	width: 50%;
}

.main {
	margin: 0 auto;
	width: 66.67%;
}

.max-width {
	width: 100%;
}

	.max-width.top-bar {
		display: flex;
		justify-content: flex-end;
	}

.right-top-bar-half {
	float: right;
	justify-content: flex-end;
}

.square-container {
	margin: 3vh 0;
}

.square-row {
	display: flex;
	justify-content: center;
}

.strong-container {
	align-items: center;
	display: flex;
	height: 6vw;
	justify-content: center;
	width: 6vw;
}

.top-bar {
	height: 0;
	margin: 0;
}