@media screen and (max-device-width: 480px) {
	label {
		color: #e6e6e6;
		font-size: 4.5vmax;
		margin: 3vh 0 0 0;
	}

	.bottom-bar {
		align-self: flex-end;
		display: flex;
		height: 0;
		text-align: center;
	}

		.bottom-bar label {
			margin: 90vh 0 0 0;
		}

	.fa.top-icon-spaced {
		margin-right: 4.0vw;
	}

	.game.main {
		align-self: center;
		margin: auto 0;
		width: 100%;
	}

	.mini {
		font-size: 6.0vmax;
		margin: 3vh 0 0 0;
	}

	.mobile-invis {
		display: none;
	}
}

@media screen and (min-device-width: 480px) {
	label {
		color: #e6e6e6;
		font-size: 2.5vmax;
		margin: 3vh 0 0 0;
	}

	.computer-invis {
		display: none;
	}

	.fa.top-icon-spaced {
		margin-right: 1.2vw;
	}

	.game.main {
		align-self: center;
		margin: auto 0;
		width: 50%;
	}

	.mini {
		font-size: 3.5vmax;
		margin: 3vh 0 0 0;
	}
}

a strong {
	color: #272727;
}

body {
	background-color: #272727;
	font-family: Helvetica Neue, Arial;
	margin: 0;
}

form, .option-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

input[type="radio"] {
	display: none;
}

label.top-icon-spaced {
	margin-right: 1.2vw;
}

h2 {
	color: forestgreen;
	font-size: 3.0vmax;
	text-align: center;
}

	h2.first {
		margin: 7.5vmax 0 0 0;
	}

	h2.second, h2.third {
		margin: 3.5vmax 0 0 0;
	}

hr {
	border-color: forestgreen;
	margin: 1vmax auto 2vmax auto;
}

	hr.first {
		width: 18vmax;
	}

	hr.second {
		width: 20vmax;
	}

	hr.third {
		width: 9vmax;
	}

.center-half {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.click-icon {
	font-size: 3vmax;
}

.decoration {
	font-size: 1.5vmax;
	margin-bottom: 5%;
}

.easy .first {
	margin: 2% 2% 2% 22%;
}

.easy .last {
	margin: 2% 22% 2% 2%;
}

.error-message {
	color: #c10b0b;
	margin: 2% 0 0 0;
}

.explanation {
	font-size: 1.2vmax;
	text-indent: 3.5vmax;
}

	.explanation.game-mode {
		margin: 0 0 3vmin 0;
	}

.fa {
	-moz-transition: color 0.15s;
	-o-transition: color 0.15s;
	-webkit-transition: color 0.15s;
	color: #4382ef;
	transition: color 0.15s;
}

	.large {
		font-size: 15vw;
	}

.fa-home {
	color: #4382ef;
	font-size: 3.5vmax;
	margin: 3vh 0 0 0;
}

.fa-square {
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.0);
	margin-bottom: 1vmax;
}

.fa-stack {
	font-size: 3.5vw;
}

	.fa-stack strong {
		font-size: 3.5vw;
	}

	.fa-stack .diamond {
		-moz-transform: rotate( 45deg );
		-ms-transform: rotate( 45deg );
		-o-transform: rotate( 45deg );
		-webkit-transform: rotate( 45deg );
		transform: rotate( 45deg );
	}

	.fa-stack:hover .fa-square {
		color: forestgreen;
	}

.fa-star {
	-moz-transition: opacity 1.0s;
	-o-transition: opacity 1.0s;
	-webkit-transition: opacity 1.0s;
	transition: opacity 1.0s;
}

.fast-rotate {
	-moz-animation: fa-spin 2s infinite linear;
	-o-animation: fa-spin 2s infinite linear;
	-webkit-animation: fa-spin 2s infinite linear;
	animation: fa-spin 2s infinite linear;
}

.fill {
	height: 100%;
	width: 100%;
}

.game-display {
	display: flex;
	flex-direction: column;
}

.green, .user-label.green {
	color: forestgreen;
}

.green-hover:hover {
	color: forestgreen;
}

.hard .first {
	margin: 2% 2% 2% 7%;
}

.hard .last {
	margin: 2% 7% 2% 2%;
}

.help {
	color: #4382ef;
}

	.help .main {
		margin: 0 auto;
		width: 66.67%;
	}

.help .description {
	font-size: 1.2vmax;
	text-align: center;
	width: 75%;
}

.help-square {
	background-color: #4382ef;
	border-radius: 15%;
	width: 6vw;
	padding-bottom: 6vw;
}

.icon-description {
	align-items: center;
	display: flex;
	flex-direction: column;
	width: 50%;
}

.icon-description i {
	font-size: 3.5vw;
	margin: 1vmin 0 2vmin 0;
}

.icon-description strong {
	font-size: 2vmax;
	margin: 0;
}

.icon-description-container {
	display: flex;
	margin: 0 0 5vmin 0;
}

	.icon-description-container.last {
		justify-content: center;
		margin: 0 0 7.5vmax 0;
	}

.labeled-icon {
	align-items: center;
	display: flex;
	flex-direction: column;
	padding: 0 0 5% 0;
}

.left-top-bar-half {
	float: left;
	justify-content: flex-start;
}

.left-top-bar-half, .right-top-bar-half {
	display: flex;
	height: 0;
	width: 50%;
}

.level-row {
	display: flex;
	justify-content: space-around;
	margin: 0 0 2vw 0;
}

.max-width {
	width: 100%;
}

	.max-width.top-bar {
		display: flex;
		justify-content: flex-end;
	}

	.user .top-bar {
		justify-content: flex-start;
	}

.medium .first {
	margin: 2% 2% 2% 14.5%;
}

.medium .last {
	margin: 2% 14.5% 2% 2%;
}

.medium-rotate {
	-moz-animation: fa-spin 5s infinite linear;
	-o-animation: fa-spin 5s infinite linear;
	-webkit-animation: fa-spin 5s infinite linear;
	animation: fa-spin 5s infinite linear;
}

.menu .main {
	align-items: center;
	display: flex;
	padding: 0;
	margin: 0;
}

.menu-label {
	-moz-transition: opacity 0.15s;
	-o-transition: opacity 0.15s;
	-webkit-transition: opacity 0.15s;
	color: #e6e6e6;
	font-size: 2.2vw;
	margin: 0;
	opacity: 0.7;
	transition: opacity 0.15s;
}

.opacity-full {
	opacity: 1.0;
}

.option-container {
	width: 25vmax;
}

.option-container .description {
	font-size: 1.2vmax;
	text-align: center;
}

.removed {
	display: none;
}

.right-top-bar-half {
	float: right;
	justify-content: flex-end;
}

.slow-rotate {
	-moz-animation: fa-spin 20s infinite linear;
	-o-animation: fa-spin 20s infinite linear;
	-webkit-animation: fa-spin 20s infinite linear;
	animation: fa-spin 20s infinite linear;
}

.spaced {
	justify-content: space-around;
}

.square {
	background-color: #4382ef;
	border-radius: 15%;
	float: left;
	margin: 2%;
	padding-bottom: 11%;
	width: 11%;
}

	.animated {
		-moz-transition: -moz-transform 0.15s, background-color 0.15s;
		-o-transition: -o-transform 0.15s, background-color 0.15s;
		-webkit-backface-visibility: hidden;
		-webkit-transition: -webkit-transform 0.15s, background-color 0.15s;
		transition: transform 0.15s, background-color 0.15s;
	}

	.rotated {
		-moz-transform: rotate( 90deg );
		-ms-transform: rotate( 90deg );
		-o-transform: rotate( 90deg );
		-webkit-transform: rotate( 90deg );
		background-color: forestgreen;
		transform: rotate( 90deg );
	}

.square-container {
	margin: 3vh 0;
}

.square-row {
	display: flex;
	justify-content: center;
}

.strong-container {
	align-items: center;
	display: flex;
	height: 6vw;
	justify-content: center;
	width: 6vw;
}

.strong-label {
	color: #272727;
	z-index: 1;
}

.text-container {
	align-items: center;
	display: flex;
	height: 3.5vmax;
	margin: 3vh 1.2vw 0 0;
}

.text-container label {
	color: #e6e6e6;
	font-size: 1.5vmax;
	opacity: 1.0;
}

.top-bar {
	height: 0;
	margin: 0;
}

.type-input {
	color: black;
	margin: 0 25%;
	width: 15vmax;
}

	.type-input[type="password"] {
		margin-bottom: 6%;
	}

	.type-input[type="text"] {
		margin-bottom: 4%;
	}

	.type-input:focus {
		outline-color: #4382ef;
	}

.user .main {
	align-items: center;
	display: flex;
	justify-content: space-around;
}

.user-body {
	align-items: center;
	background-color: #272727;
	color: #4382ef;
	display: flex;
	justify-content: space-around;
	margin: 0;
}

.user-button {
	background-color: #272727;
	border: none;
}

	.user-button:focus {
		outline: none;
	}

.user-label {
	color: #4382ef;
	font-size: 4vmax;
}

.user-label, #loggedInText, #userMessageText {
	margin: 0 0 5px 0;
}

.zero-opacity {
	opacity: 0;
}