body {
	background-color: #272727;
	margin: 0;
}

label {
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	color: #e6e6e6;
	font-size: 2.2vw;
	opacity: 0.7;
	user-select: none;
}

.fa {
	color: #4382ef;
  	font-size: 15vw;
}

	.fa:hover {
		color: forestgreen;
	}

.fill {
	height: 100%;
	width: 100%;
}

.full-opacity {
	opacity: 1.0;
}

.labeled-icon {
	align-items: center;
	display: flex;
	flex-direction: column;
	padding: 0 0 10% 0;
}

.main {
	align-items: center;
	display: flex;
	height: 90%;
	justify-content: space-around;
	padding: 0;
	margin: 0;
}

.max-width {
	width: 100%;
}

.mini {
	font-size: 3.5vmax;
	margin: 3vh 0 0 0;
}

.top-bar {
	display: flex;
	height: 10%;
	justify-content: flex-end;
	margin: 0;
}