body {
	background-color: #272727;
	margin: 0;
}

label {
	-moz-transition: opacity 0.15s;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-transition: opacity 0.15s;
	-webkit-user-select: none;
	-webkit-transition: opacity 0.15s;
	color: #e6e6e6;
	font-size: 2.2vw;
	opacity: 0.7;
	transition: opacity 0.15s;
	user-select: none;
}

.fa {
	-moz-transition: color 0.15s;
	-o-transition: color 0.15s;
	-webkit-transition: color 0.15s;
	color: #4382ef;
	transition: color 0.15s;
}

	.fa.large {
		font-size: 15vw;
	}

	.fa.green, .fa.large:hover, .fa.mini:hover {
		color: forestgreen;
	}

	.fa.mini {
		font-size: 3.5vmax;
		margin: 3vh 0 0 0;
	}

.fa-square {
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.0);
	margin-bottom: 15px;
}

.fa-stack {
	font-size: 3.5vmax;
}

	.fa-stack:hover .fa-square {
		color: forestgreen;
	}

.fast-rotate {
	-moz-animation: fa-spin 2s infinite linear;
	-o-animation: fa-spin 2s infinite linear;
	-webkit-animation: fa-spin 2s infinite linear;
	animation: fa-spin 2s infinite linear;
}

.fill {
	height: 100%;
	width: 100%;
}

.full-opacity {
	opacity: 1.0;
}

.labeled-icon {
	align-items: center;
	display: flex;
	flex-direction: column;
	padding: 0 0 5% 0;
}

.left-top-bar-half {
	float: left;
	justify-content: flex-start;
}

.left-top-bar-half, .right-top-bar-half {
	display: flex;
	height: 0;
	width: 50%;
}

.max-width {
	width: 100%;
}

	.max-width.top-bar {
		display: flex;
		justify-content: flex-end;
	}

.medium-rotate {
	-moz-animation: fa-spin 5s infinite linear;
	-o-animation: fa-spin 5s infinite linear;
	-webkit-animation: fa-spin 5s infinite linear;
	animation: fa-spin 5s infinite linear;
}

.menu .main {
	align-items: center;
	display: flex;
	padding: 0;
	margin: 0;
}

.right-top-bar-half {
	float: right;
	justify-content: flex-end;
}

.slow-rotate {
	-moz-animation: fa-spin 20s infinite linear;
	-o-animation: fa-spin 20s infinite linear;
	-webkit-animation: fa-spin 20s infinite linear;
	animation: fa-spin 20s infinite linear;
}

.spaced {
	justify-content: space-around;
}

.text-container {
	align-items: center;
	display: flex;
	height: 3.5vmax;
	margin: 3vh 1.2vw 0 0;
}

.text-container label {
	color: #e6e6e6;
	font-size: 1.5vmax;
	opacity: 1.0;
}

.top-bar {
	height: 0;
	margin: 0;
}