body {
	background-color: #272727;
	margin: 0;
}

.fill {
	height: 100%;
	width: 100%;
}

.labeled-icon {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.menu {
	align-items: center;
	display: flex;
	justify-content: space-around;
}