h1 {
	text-align: center;
	color: white;
	margin: 15px;
}

body {
	background: #272727;
	margin: 0;
}

.square {
	width: 14.66%;
	padding-bottom: 14.66%;
	background: steelblue;
	margin: 1%;
	border-radius: 10%;
	float: left;
	transition: background 0.15s;
}

.easyLeft {
	margin-left: 16.8%;
}

.easyRight {
	margin-right: 16.8%;
}

.easyTop {
	margin-top: 16.8%;
}

.mediumLeft {
	margin-left: 8.35%;
}

.mediumRight {
	margin-right: 8.35%;
}

.mediumTop {
  margin-top: 8.35%;
}

.hiddenHard {
	display: none;
}

.rotated {
	background: forestgreen;
}

#menuBar {
	text-align: center;
}

#squareContainer {
	max-width: 600px;
	margin: 15px auto;
}