h1 {
	text-align: center;
	color: white;
	margin: 15px;
}

body {
	background: #272727;
	margin: 0;
}

.square {
	background: steelblue;
	margin: 1%;
	border-radius: 10%;
	float: left;
}

.easy {
	width: 23%;
	padding-bottom: 23%;
}

.medium {
	width: 18%;
	padding-bottom: 18%;
}

.hard {
	width: 14.66%;
	padding-bottom: 14.66%;
}

.hiddenMedium {
	display: none;
}

.hiddenHard {
	display: none;
}

.rotated {
	background: forestgreen;
}

#menuBar {
	text-align: center;
}

#squareContainer {
	max-width: 600px;
	margin: 15px auto;
}